@model rocket_elevator_ui.Models.InterventionModel
@{
    ViewBag.Title = "Interventions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


