@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src=" ~/Content/Images/AdobeStock_146216308.jpeg" class="img-center" height="570" width="997" />

<address>
    418-725 Boulevard Lebourgneuf,
    <br />
    Québec, QC, G2J 0C4, Canada    <br />
    <abbr title="Phone">P:</abbr>
    (418) 555-1234
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:info@codeboxx.biz">Email: info@codeboxx.biz</a><br />

</address>



