@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
    string email = User.Identity.GetUserName();
}

<div class="jumbotron">
    <h3>Request an Intervention</h3>
    
    
</div>
<img src=" ~/Content/Images/AdobeStock_146216308.jpeg" class="img-center" height="270" width="597" />            

    @if (!string.IsNullOrEmpty(email)) {
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("GetInterventions", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <br />
                        <input type="submit" value="Request an intervention" class="btn btn-default" />
                        <br />
                    </div>
                </div>
               
            }
        </section>
    </div>
   
</div>
    }
</div>